html,body {
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: #efefef;
}

#root {
    width: 600px;
    margin: auto;
    padding-top: 16px;
}

.App {
    background-color: white;
    padding: 16px 0;
}

.fields {
    display: flex;
    width: 570px;
    margin: auto;
}

.todo-input {
    flex: 1;
}

.todo-button {
    padding: 0 !important;
    width: 30px;
}

.todo-display {
    width: 110px;
    margin-left: 5px;
}

.todo-item {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}